.produto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.produto img {
    margin-right: 20px;
}

.produto h2, .produto p {
    margin: 0 10px;
}

.produto form {
    margin-left: auto;
}

.btn-remover {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-remover:hover {
    background-color: darkred;
}

.footer-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.footer-rodape h1 {
    margin: 0;
}

.btn-comprar {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: darkgreen;
}
